{% include header.html %}
    <div class="post-content">
        <small>By: <strong>{{ page.author }}</strong></small>
        <br/>
        <small>On: <strong>{{ page.date }}</strong></small>
        <p>{{ page.content }}</p>
       
    </div>
{% include footer.html %}